<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="excel_Sheet" value ="sheet1"/>
        <add key="SDIP" value="Server=localhost;Database=rodcell;Uid=root;Pwd=root;"/>
    </appSettings>
  
</configuration>